body,
html,.wrap {
  height:100%;
  margin:0;
  padding:0;
}

.home-all {
  overflow: hidden;
  height:100%;
  margin:0;
  padding:0;
}

.wrap {
  background: inherit;
  animation: 7s spin ease-in-out infinite;
}

.meta:before,
.meta:after {
  content: "";
  position: absolute;
  width:100px;
  height:100px;
  left:35%;
  top:35%;
  // margin:-50px;
  background: white;
  border-radius:50%;
  -webkit-filter: blur(25px);
  filter: blur(25px);
  animation: move 12s infinite alternate ease-in-out;

}
.meta:before {
  animation-duration: 19.3s;
  animation-delay: -3.3s;
}
.meta:nth-child(2):before {
  animation-duration: 14.7s;
  animation-delay: -2.7s;
}
.meta:nth-child(2):after {
  animation-duration: 8.7s;
  animation-delay: -5.32s;
}
@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}
@keyframes move {
  0% {
    transform: translate(0%, 100%);
  }
  15% {
    transform: translate(-120%, 160%);
  }
  30% {
    transform: translate(100%, -80%);
  }
  40% {
    transform: translate(-140%, 0%);
  }
  60% {
    transform: translate(40%, -80%);
  }
  80% {
    transform: translate(-160%, -20%);
  }
  100% {
    transform: translate(40%, 60%);
  }
}


.topspacehome {
    height: 100%;
}



.home-text-container {
	position: relative;
    z-index: 1000;
    left: 60%;
    top: 300px;
}
.home-text-top {
	z-index:1000;

}
.home-text-bottom {
	z-index:1000;

}

.home-logo img {
  height: 60px;
}



#toggle{
	visibility: hidden;
	opacity: 0;
	position: relative;
	z-index: -1;
  }

  #toggle:checked ~ dialog {
  display: block;
  background-color: grey;
  }

  label{
	background: skyblue;
	color: white;
	padding: .5em 1em;
	border-radius: 4px;
  }
  @keyframes appear {
	0%{
	  opacity: 0;
	  transform: translateY(-10px);
	}
  }

  dialog{
	animation: appear 350ms ease-in 1;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }

  dialog p label {
	background: black;
  }

  .popupbutton {
    background-color: transparent;
    margin-left: -13px;
    color: white;
	  border: 2px solid white;
	  border-radius: 0px;
  }

  .popupbutton:hover {
    background: #574a4a;
    transition: all .25s ease-in-out;
    text-decoration: none;
    color: #ced4da;
    border: 2px solid #ced4da;
  }

  .popupclose {
    background-color: transparent;
    color: white;
	border: 2px solid white;
	border-radius: 0px;
  }
