
    
    
    
<div class="footer">
    <div class="footer-left">
        <h4>London</h4>
<a href="https://time.is/London" id="time_is_link" rel="nofollow" style="font-size:36px">Time in London:</a>
<span id="London_z716" style="font-size:36px"></span>
<script src="//widget.time.is/t.js"></script>
<script>
time_is_widget.init({London_z716:{}});
</script>

    </div>



    <div class="footer-middle-left">
        <h2>About us</h2>
        <h2>Careers</h2>
        <h2>Research</h2>
    </div>

    
    <div class="footer-middle-right">
        <h2>Contact</h2>
        <h2>Press</h2>
        <h2>privacy</h2>
    </div>


    <div class="footer-right">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
    </div>
</div>

