
<div class="big-footer <%= 'shrink' if action_name == "index" && controller_name == 'games' %>">
    <div class="footer">
        <div class="footer-top">
        <div class="footer-left">
            <h4>London</h4>
            <a href="https://time.is/London" id="time_is_link" rel="nofollow" style="font-size:36px"></a>
            <span id="London_z716" style="font-size:36px"></span>
            <script src="//widget.time.is/t.js"></script>
            <script>
            time_is_widget.init({London_z716:{}});
            </script>
        </div>

        <div class="footer-middle-right">
            <%= image_tag "https://i.imgur.com/rMeW2bH.png" %>
        </div>



        <div class="footer-middle-left">
            <h2 class="top-footer">About us</h2>
            <h2>Contact</h2>
        </div>




        <div class="footer-right">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
        </div>
        </div>
        <div class="footer-bottom">
            <p>© HUB. All rights reserved. All trademarks and registered trademarks are the property of their respective owners.</p>
        </div>

    </div>

</div>
