<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1504280539878-538b933c05b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="home-banner-child">
    <div class="banner-h3">
      <h3>HUB</h3>
    </div>
    <div class="banner-h1">
    <h1>Your social hub</h1>
    </div>
    <div class="banner-p">
    <p>Whether you’re part of a school club, gaming group, worldwide art community, or just a handful of friends that want to spend time together, Discord makes it easy to talk every day and hang out more often. </p>
    </div>
    <button type="button" class="btn btn-light">Open HUB in your browser</button>
  </div>
</div>

<div class="home-container">
  <div class="home-card1" >

    <h3 class="right-page-h2">TEXT</h3>
  </div>

  <div class="home-card2">
    LARGE PHOTO
  </div>
</div>



















