<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1504280539878-538b933c05b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="home-banner-child">
    <div class="banner-h3">
      <h3>HUB</h3>
    </div>
    <div class="banner-h1">
    <h1>Your social hub</h1>
    </div>
    <div class="banner-p">
    <p>Whether you’re part of a school club, gaming group, worldwide art community, or just a handful of friends that want to spend time together, Discord makes it easy to talk every day and hang out more often. </p>
    </div>
    <button type="button" class="btn btn-light">Open HUB in your browser</button>
  </div>
</div>

<div class="home-container">
  <div class="home-card1" >
    <h3>An invite-only place with plenty of room to talk</h3>
    <p>Discord servers are organized into topic-based channels where you can collaborate, share, and just talk about your day without clogging up a group chat.</p>
  </div>

  <div class="home-card2">
    <%= image_tag image_url('https://discord.com/assets/c01c644bc9fa2a28678ae2f44969d248.svg') %>

  </div>
</div>

<div class="home-container">
  <div class="home-card3" >
      <%= image_tag image_url('https://discord.com/assets/98c9edf635a98377ec579aaa19ed47be.svg') %>
  </div>

  <div class="home-card4">
    <h3>Where hanging out is easy</h3>
    <p>Grab a seat in a voice channel when you’re free. Friends in your server can see you’re around and instantly pop in to talk without having to call.</p>
  </div>
</div>



<div class="home-container-bottom">
  <h3>Reliable tech for staying close</h3>
  <p>Low-latency voice and video feels like you’re in the same room. Wave hello over video, watch friends stream their games, or gather up and have a drawing session with screen share.</p>
  <%= image_tag image_url('https://discord.com/assets/f61264d792fd2556a618c95d97b5de07.svg') %>
</div>













