<div><h1>Hello</h1>
    <div><h2><%= @game.name %> </h2>
        <div>
            <ul><% @game.posts.each do |post| %>
                <li>
                <%= post.content %>
                </li>
            <% end %>
            </ul>
        </div>
    </div>
</div>

        