<h1>Hello</h1>
<%= cl_image_tag @game.photo.key, height: 300, width: 400, crop: :fill %>
<h2><%= @game.name  %> </h2>
<p><% @game.posts.each do |post| %>
<%= cl_image_tag post.photo.key, height: 300, width: 400, crop: :fill %>
<%= post.content %>
<% end %>
test