.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88 !important;
  transition: background 0.3s ease;
  font-family: 'Whitney Medium';
  font-size: 16px;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
  text-decoration: none;
}


  // background: red;
  // border-color: red;
  // border: 2px;
  // color: white;
  // font-family: 'Whitney Medium';
  // font-size: 10px;
  // border-radius: 4px;
  // padding: 4px 4px;
  // text-decoration: none;



.delete-button {
  background-color: transparent;
  color: black;
  font-family: 'Whitney Medium';
  font-size: 11px;
  // border-radius: 4px;
  padding: 5px 5px;
  border-top: 2px solid #574a4a;
  border-bottom: 2px solid #574a4a;
}

.delete-button:hover {
  background-color: black;
  
}

.delete-button-modal {
  background-color: transparent;
  // color: black !important;
  font-family: 'Whitney Medium';
  font-size: 14px;
  font-weight: bold;
  // border-radius: 4px;
  // padding: 5px 5px;
  border-top: 2px solid #574a4a;
  border-bottom: 2px solid #574a4a;
  margin: 15px auto; 
	padding: 10px 40px;
	cursor: pointer;
	opacity: 1;
	visibility: visible;
  
}

.delete-button-modal:hover {
  background-color: black;
  
}