.carousel-img-size {
  height: 250px;
  width: 250px !important;
  object-fit: cover;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.carousel {
  margin-top: 32px;
  margin-bottom: 32px;
}
