.cookieAcceptBar {
  display:none;
  width: 40%;
  margin: auto;
  position: fixed;
  top: 50%;
  left:0;
  right: 0;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  padding-top: 35px;
  z-index: 99999;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cookieAcceptBar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.show {
  display: block !important;
}

#cookieAcceptBar {
  border: 2px solid white;
}

#cookieAcceptBar:hover {
  background: #574a4a;
  color: white;
  text-decoration: none;
}

#cookieAcceptBarConfirm {
  color: white;
}

#cookieAcceptBarConfirm:hover {
  color: #fa3c6e !important;
  transition: all .25s ease-in-out;
}

#declineBarConfirm {
  color: white;
}

#declineBarConfirm:hover {
  color: #fa3c6e !important;
  transition: all .25s ease-in-out;
}
