.show-top {
  background-color: #202020;
  margin-left: 10%;
  margin-right: 10%;
}

.show-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
  }
  .show-box-left {
    width:30%;
    background-color: #202020;
    padding: 26px;
    .form-control {
    background-color: grey;
    border: 0px;
    }

  }
  .show-box-right {
    width:70%;
    background-color: blue;
    padding: 26px;

  }

  .video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 26px;
    padding-bottom: 26px;

}

.show-photo {
  img {
  width: 100%;
  object-fit: cover;
  }
}

.show-forum {
  margin-left: 10%;
  margin-right: 10%;
}

.top-show {
  margin-top: 24px;
  margin-left: 10%;  
  margin-right: 10%;


  height: 48px;
  background-color: #2a2a2a;
  text-align: center;
  padding-top: 8px;
  h3 {
      font-weight: bolder;
  }
}

.game-summary {
  padding-top: 8px;
  background-color: #2a2a2a;
  padding-left: 8px;
  padding-right: 8px;
  p {
    color: grey !important;
  }

}