.navbar-lewagon {
  justify-content: space-between;
  height: 100px;
  z-index: 5000;
  top: 0;
  width: 100%;
  color: white;
  
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height:80px;
}


.navbar-lewagon-home {
  justify-content: space-between;
  height: 100px;
  z-index: 5000;
  top: 0;
  width: 100%;
  color: white;

}

.nav-link {
  color: white!important;
}