.user-whole-page {
  width: 80%;
  margin: auto;
  height: 100%;
}

.user-top-container {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  padding: 8px;
  align-items: center;
  background: #202020;
}


.user-top-item-photo {
  width: 10%;
  height: 100%;
  img {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    object-fit: cover;
  }

}

.user-top-item-info {
  height: 85px;
  line-height: 85px;
  h1 {
    text-align: center;

  }
  h3 {
    text-align: center;

  }
}



.user-top-item-space {
  width: 30%;
  height: 100%;

}

.user-top-item-achievements {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: sans-serif;

}

.achievements {
  text-align: center;
  i {
    color: white;
    font-size: 40px;

  }
}

.gamesplayed {
  text-align: center;

  i {
    color: white;
    font-size: 40px;

  }
}

.hoursplayed {
  text-align: center;

  i {
    color: white;
    font-size: 40px;

  }
}






* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  background: #f2f2f2;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  background: #202020;
  box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
  padding-top: 32px;
  margin-bottom: 32px;
  padding:8px;
 

}

.input {
  position: absolute;
  opacity: 0;
}

.label {
  display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    letter-spacing: 0.5px;
    line-height: normal;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    transition: border-color 125ms ease-in-out;
    background: rgba(0, 0, 0, 0);
    border-color: rgba(245, 245, 245, 0.6);
    color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    height: 30px;
    padding: 0 15px;
}

.label:hover {
  background: #d8d8d8;
}

.label:active {
  background: #ccc;
}

.input:focus + .label {
  box-shadow: inset 0px 0px 0px 3px #2aa1c0;
  z-index: 1;
}

.input:checked + .label {
  background: #fff;
  color: #000;
}

@media (min-width: 600px) {
  .label {
    width: auto;
  }
}

.panel {
  display: none;
  padding: 20px 30px 30px;
}

@media (min-width: 600px) {
  .panel {
    order: 99;
  }
}

.input:checked + .label + .panel {
  display: block;
}

.fa-circle {
  color: green;
}